*{text-decoration: none;
font-family:Helvetica,Tahoma,"微软雅黑","华文细黑","Microsoft YaHei",sans-serif;}
body{background: #f8f8f8;margin:0px;overflow-x: hidden;}
/*导航栏*/
#header{height:55px;width:100%;background: #fff;}
#header_div1{width: 1200px;margin:auto;}
#header_logo{width: 200px;height: 50px;float: left;margin-left: -7px;}
#header_div2{height:50px;float: right;margin-right: 57.5px;}
.nav{list-style-type: none;}
.nav li{display: inline;}
.nav li a{text-decoration: none;font-size:x-large;font-weight: bold;padding: 0px 10px 0px;
color:#222;line-height: 23px;}
.nav li a:visited{color:#111;}
.nav li a:hover{color:#4fd2c2;}
#header_signup{color:#fff;background: #4fd2c2;padding: 5px 3px 5px;border-radius: 15px;
	margin-left: 15px;}

/*留言部分*/
#liuyan{font-size: 30px;}
#textarea{margin-left:100px; font-size: 20px;background: transparent;}	
#submit{padding: 3px 5px 3px;font-size: 20px;cursor: pointer;}

/*读取留言*/
#border_top{border-top:1px dashed #999;margin-top:20px;}
#read_h1{margin:auto;text-align: center;border-bottom: 1px dashed #999;}
.border_bottom{border-bottom: 1px dashed #999;}
.read_span{font-size: 1.3em;padding: 33px;}
